extends layout

block content
  .jumbotron
    .container
      .bottom
        h1 Excellent teamwork
        h2 Forming groups has never been easier
        a Students
        a Teachers
  
  .features.container
    .row.row-centered
      .col-sm-3.col-centered
        .feature
         h3
          i.fa.fa-group
          |  Teamwork
         p.
            Students will be more motivated because they can choose
            their own teammates.
      .col-sm-3.col-centered
        .feature 
          h3 
           i.fa.fa-question-circle
           |  Random
          p.
            If you prefer you can join a random group. Teachers
            can also assign students to random groups.
      .col-sm-3.col-centered
        .feature
          h3
           i.fa.fa-smile-o
           |  No loners
          p.
            All students will be assigned to a group. 
            Late students will be assigned to a random group.
  .story
    .container
      .row
        .col-sm-8
          h2 The story
          p.
            Students from the Web Technology course (2ID60) had to form
            groups by themselves. An online forum on Sakai was used by 
            many students to find other teammates. This resulted in many
            posts on the forum from students who were still looking for a group. The forum on Sakai has two               main disadvantages: firstly the lack of a clear overview and secondly the missing background                 information of students. As students from many different majors participate in university     
            courses, you may want to collaborate with students from your own faculty.   
          p.
           We from group 8, Christian, Lars, Roy and Koen, thought: this
           process could be organized much more efficiently. That is why we have
           created Groupmolder: the easiest way to form groups.
        .col-sm-4
          img(src='/images/sakai.gif')
  .demo.container
    .row
      .col-sm-7
        iframe(width="100%", height="315", src="https://www.youtube.com/embed/dQw4w9WgXcQ", frameborder="0", allowfullscreen)
      .col-sm-5
        h2 Demo 
        p.
          Follow the following steps:
        ol
          li Lorum ipsulum
          li Lorum ipsulum
          li Lorum ipsulum
          li Lorum ipsulum
          li Lorum ipsulum
          
      p.back-to-top
       a(href="#")
        i.fa.fa-chevron-up 

        
    
  
