doctype html
html(ng-app='GroupMolder')
  head
    title= title

    // jQuery script
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')

    // Bootstrap style
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fira+Sans:400,500')

    // Our own style
    link(rel='stylesheet', href='/stylesheets/style.css')

    // Angular script
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')

    // Bootstrap script
    script(src='/javascripts/bootstrap.min.js')

    // Our own scripts
    script(src='/javascripts/groupmolder.js')
    
  body
    block content
    .footer
      .container
        .pull-left Proudly crafted in Eindhoven
        .pull-right 
          span.glyphicon.glyphicon-copyright-mark  2016
