extends layout

block content
  
  form(action='/register' method='post')
    div 
      label First name
      input(type='text', name='firstName')
    div 
      label Last name
      input(type='text', name='lastName')
    div
      label Email:
      input(type='email', name='email', placeholder='mail@address.com')
    div
      label Password:
      input(type='password', name='password')
    input(type='submit', value='Register')
  
