body {
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

body > .container:last-child{
  padding-top: 60px;
}

a {
  color: #fff;
}

/* Footer */
.footer{
  background-color: #586b73;
  height: 60px;
  width: 100%;
  line-height: 60px;
  color: white;
}

/* Page transition */
.zoom-in {
  transform: scale(1);
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  transform-origin: 50vh 50vw;
}
.zoom-in.ng-enter,
.zoom-in.ng-leave {
    -webkit-transition: all 0.8s cubic-bezier(0,1,.24,1);
    transition: all 0.8s cubic-bezier(0,1,.24,1);
}
.zoom-in.ng-enter {
    transform: scale(.8);
    opacity: 0;
}
.zoom-in.ng-enter-active {
    transform: scale(1);
    opacity: 1;
}
.zoom-in.ng-leave {
    transform: scale(1);
    opacity: 1;
}
.zoom-in.ng-leave-active {
    transform: scale(1.2);
    opacity: 0;
}

/*
=======================================
index page
=======================================
*/
/* header */
.jumbotron{
  color: white;
  background: linear-gradient(transparent 30%, rgba(0, 0, 0, 0.8)), url('/images/banner.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 600px;
  position: relative;
}

.jumbotron .bottom{
  position: absolute;
  bottom: 30px;
  text-align: center;
  left: 0;
  right: 0;
}

.jumbotron h1{
  line-height: 0.2;
}

.jumbotron h2{
  font-weight: 200;
}

.jumbotron a{
  color: #f25c05;
  border: 5px solid #f25c05;
  border-radius: none;
  padding: 10px 12px;
  margin: 15px;
  font-size: 1.5em;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.5s, color 0.5s;
}

.jumbotron a:hover{
  background: #f25c05;
  color: white;
}

/* Features */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    vertical-align: top;
    margin-bottom: 35px;
}

.feature h3{
  color: #f25c05;
}

/* Story */
.story{
  background-color: #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;

}
.story:before{
  display: block;
  content: '';
  background: rgb(142, 193, 3);

}
.story img{
 height: 200px;
 margin: 20px auto;
 margin-top: 30px;
 display: block;

}

/* Demo */
.demo{
  margin-bottom: 60px;
  margin-top: 60px;
}

/* Back to top button */
.back-to-top{
    position: fixed;
    background-color: #f25c05;
    right: 20px;
    bottom: 60px;
    padding: 10px;
    display: none;
}
