html, body{
  height: 100%;
}
body {
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

a {
  color: #fff;
}

/* Footer */
.footer{
  background: url('/images/footer.png');
  -webkit-background-size: cover;
  background-color: #586b73;
  height: 60px;
  width: 100%;
  line-height: 60px;
  color: white;
}

/* Page transition */
.zoom-in {
  min-height: 100%;
  margin-bottom: -60px;
}

.zoom-in:after{
  content: "";
  display: block;
  height: 60px;
}

/* Navbar */
#menu{
  padding: 15px;
  background-color: rgba(255,255,255,0.6);
}

#menu .btn,
#register-menu .btn,
#project-menu .btn {
  margin-top: 10px;
}

#img-menu{
  width: 60%;
}

#facebook-signin{
	margin-left: 10px;
	background-color: #3765A3;
}

#facebook-signin:hover{
	background-color: #184c90;
}

#login-button{
  color: black;
  text-decoration: none;
}

.navbar-toggle {
  background-color: transparent;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #f25c05;
}

.navbar .navbar-toggle {
    border: 2px solid #f25c05;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #f25c05;
}

.navbar .navbar-toggle:hover .icon-bar,
.navbar .navbar-toggle:focus .icon-bar {
    background-color: white;
}

@media (max-width:494px) {
  #img-menu {
    max-width: 190px;
  }
  .bottom {
    margin-bottom: 125px;
  }
}

@media (max-width:342px) {
  #menu .btn,
  #register-menu .btn,
  #project-menu .btn {
    width: 100%;
  }
}

#register-menu{
	padding: 15px;
	background-color: #f2f2f2;
}

#project-menu{
	padding: 15px;
	background-color: #f2f2f2;
}


/*
=======================================
index page
=======================================
*/

.home{
  /*position: absolute;
  min-height: 100%;*/
}

/*Jumbotron */

.jumbotron{
  color: white;
  background: linear-gradient(transparent 30%, rgba(0, 0, 0, 0.8)), url('/images/banner.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 675px;
  position: relative;
}

.jumbotron .bottom{
  position: absolute;
  bottom: 30px;
  text-align: center;
  left: 0;
  right: 0;
}

.jumbotron h1{
  line-height: 0.2;
}

.jumbotron h2{
  font-weight: 200;
}

.jumbotron a{
  color: #f25c05;
  border: 5px solid #f25c05;
  border-radius: none;
  padding: 10px 12px;
  margin: 15px;
  font-size: 1.5em;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.5s, color 0.5s;
}

.jumbotron a:hover{
  background: #f25c05;
  color: white;
}

@media (max-width:342px) {
  .jumbotron h1 {
    font-size: 2.4em;
  }
}

/* Features */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    vertical-align: top;
    margin-bottom: 35px;
}

.feature h3{
  color: #f25c05;
}

/* Story */
.story{
  background-color: #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;

}
.story:before{
  display: block;
  content: '';
  background: rgb(142, 193, 3);

}
.story img{
 height: 200px;
 margin: 20px auto;
 margin-top: 30px;
 display: block;

}

/* Demo */
.demo{
  margin-bottom: 60px;
  margin-top: 60px;
}

/* Back to top button */
.back-to-top{
    display: none;
    position: fixed;
    background-color: #f25c05;
    right: 20px;
    bottom: 60px;
    padding: 10px;
}

.back-to-top:hover{
    display: none;
    position: fixed;
    background-color: #c54b04;
    right: 20px;
    bottom: 60px;
    padding: 10px;
    color: white;
}


/*
=========================================================
Register page
=========================================================
*/

.register{
  background-color: #9BA6AA;
    min-height: 100vh;
    margin-bottom: -60px;
    padding-bottom: 60px;
    margin-top: 80px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: 49%;
}

.register .panel{
  background-color: #E0E4E7;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 768px){
  .vcenter{
    display: block;
    width: 100%;
  }

  .register .panel{
    margin-top: 50px;
  }
}

.register .reasons h1{
  text-align: center;
  font-size: 3em;
  color: white;
}

.register .reason{
  text-align: center;
}

.register .reason i{
  color: #F25C05;
  border: 5px solid #F25C05;
  padding: 10px;
  font-size: 3em;
  border-radius: 100%;
}

.register .reason i.fa-facebook-f{
  padding: 10px 19px;
}

.register .reason i.fa-clock-o{
  padding: 10px 14px;
}

.register .reason span{
  display: block;
  color: white;
  font-size: 1.2em;
}

.register .reason span:first-of-type{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -5px;
}

.reason{
    margin-top: 25px; /* Distance between features and h2 text */
}

.register .row:first-child{
  margin: 50px 0;
}

.register .panel h2{
  color: #F25C05;
  font-weight: bold;
  text-align: center;
}

.register .panel-heading{
  background-color: white;
}

.register .panel input{
  width: 90%;
  padding: 10px;
  margin: 5px 0;
  font-size: 1.2em;
  color: #435055;
  border: none;
}

.register .panel input[type="submit"],
.register .panel a{
  color: white;
  background-color: #F25C05;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 1.5em;
  width: 100%;
}

.register .panel input[type="submit"]:hover{
  background-color: #c74813;
}

.register .panel a:hover{ /* hover Facebook button */
  background-color: #184c90;
}

.register .panel h4{
  text-align: center;
  color: #74848A;
}

.register .panel a{
  padding: 10px;
  background-color: #3765A3;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 0;
  text-decoration: none;
  float: left;
}

.register .panel{
  position: relative;
}

#signup-left{
  background-image: url('/images/signup-left.png');
  width:116px;
  height:352px;
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
}
#signup-right{
  background-image: url('/images/signup-right.png');
  width:145px;
  height:360px;
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
}

@media only screen and (max-width : 1550px) {
  #signup-right {
      right: -25px;
  }
}

@media only screen and (max-width : 960px) {
  #signup-right {
      right: -10px;
  }
}

@media only screen and (max-width : 480px) {
  #signup-right {
      right: 5px;
  }
}

.register .input-wrapper > i{
  width: 10%;
  display: inline-block;
  background-color: white;
  color: #586B72;
  float: left;
  margin: 5px 0;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 1.5em;
}

.register .input-wrapper > i:hover{ /* hover over icons */
  color: #435055;
}

.register .input-wrapper input{
  padding-left: 0;
}

.register .input-wrapper input:focus{
  padding-left: 0;
}

.register .panel a i{
  margin-right: 8px;
  display: inline-block;
}

#register-overview {
  margin-top:100px;
}

@media (max-width:768px) {
  .register .row:first-child{
    margin: 0px 0;
  }
  #register-overview {
    margin-top:10px;
  }
}

/*
=========================================================
Project page
=========================================================
*/

.project{
  background: url('/images/patroon.png') repeat; /* repeat patern */
  min-height: 100vh;
  margin-bottom: -60px;
  padding-bottom: 60px;
  margin-top: 80px;
}

.project .table{
  margin-top: 20px;
  width: 95%;
}

.project thead{
  font-size: 1.4em;
  background-color: #6d7d83;
  color: white;
}

.project tbody{
  font-size: 1.2em;
  background-color: white;
  color: #435055;
}

.project img{
  width: 100%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.view-project table{
  border: 1px solid black;
  margin-bottom: 30px;
}

.view-project thead td{
  border: 1px solid black;
  padding: 100px;
  vertical-align: middle;
}

.view-project a:hover{
  color: #F25C05;
  text-decoration: none;
}

.view-project tbody td{
  border: 1px solid black;
  padding: 100px;
  vertical-align: middle;
}

.view-project tr{
  border: 1px solid black;
  padding: 10px;
}

.project .row:first-child{
  margin-top: 50px; /* Distance between top of the page and the input forms */
}

.project .panel{
  background-color: #E0E4E7; /* Background color of form */
}

.project #back-button{
  margin-left: 5%;
  margin-bottom: 5%;
}

.project .panel h2{ /* Title of forms */
  color: #F25C05;
  font-weight: bold;
  text-align: center;
}

.project .panel-heading{
  background-color: white;
}

.project .panel input{
  width: 90%;
  padding: 10px;
  margin: 5px 0;
  font-size: 1.2em;
  border: none;
  color: #435055;
}

.project .panel input[type="submit"]{ /* submit fields */
  color: white;
  background-color: #F25C05;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 1.5em;
  width: 100%;
}

.project .panel input[type="submit"]:hover{
  background-color: #c74813;
}

.project .panel h4{
  text-align: center;
  color: #000;
}

.project .input-wrapper > i{ /* icons next to input fields */
  width: 10%;
  display: inline-block;
  background-color: white;
  color: #586B72;
  float: left;
  margin: 5px 0;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 1.5em;
}

.project .input-wrapper > i:hover{ /* icons next to input fields */
  color: #435055;
}

.project .input-wrapper input{ /* reduce padding between input fields and icons */
  padding-left: 5px;
}

.register .input-wrapper input:focus{
  padding-left: 5px;
}

.project .panel a i{
  margin-right: 8px;
  display: inline-block;
}

.project .fa {
  position: relative;
}

@media (max-width:991px) {
  .project span {
    display: none;
  }
  .project a {
    max-width: 40px;
  }
  .project th {
    font-size: 0.8em;
  }
  .project .container {
    width: auto;
  }
  .project .col-sm-4 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .project .col-sm-8 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

#popup{
    font-family: 'Fira Sans';
}

#register{
  font-size: 14px;
  color: #435055;
  font-style: italic;
}

#register a{
  color: #435055;
}

#register a:hover{
  color: #F25C05;
}

.fa-input {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#fa-input{
  color: white;
}



/*
==============================================================
Student page
==============================================================
*/
.student{
  background-color: #9BA6AA;
  min-height: 100vh;
  margin-bottom: -60px;
  padding-bottom: 60px;
  padding-top: 45px;
  margin-top: 80px;
}

.student .search-bar{
  height: 30px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: white;
  font-size: 1.2em;
  text-align: center;
  font-family: "FontAwesome";
  display: block;
  color: #F25C05;
}

.student .information{
  min-width: 100%;
  background-color: white;
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 5px;
}

.student #question-mark{
  font-size: 10em;
  font-weight: 600;
  margin-top: 15%;
  margin-bottom: -30px;
}

@media(max-width: 1000px){
  .student #question-mark{
  font-size: 6em;
  }
}

.student .random{
  min-width: 100%;
  background-color: #F25C05;
  display: inline-block;
  position: relative;
  text-align: center;
  color: white;
  margin: 5px;
}

.student .random:hover{
  background-color: #c74813;
}

.student h2{
  color: #F25C05;
  font-size: 25px;
  font-weight: 500;
}

@media(max-width: 1000px){
  .student h2{
  font-size: 20px;
  font-weight: 600;
  }
}

.student .h4-regular{
  font-weight: 400;
  margin-bottom: -5px;
  font-size: 16px;
}

@media(max-width: 1000px){
  .student .h4-regular{
  font-size: 12px;
  font-weight: 500;
  }
}

.student .h4-bold{
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 16px;
}

@media(max-width: 1000px){
  .student .h4-bold{
  font-size: 12px;
  font-weight: 800;
  }
}

.student #information{
  margin-bottom: 20px;
}

.student .information h2{
  margin-top: 15%;
}

.student .group{
  min-width: 100%;
  background: url('/images/add.png') repeat;
  -webkit-background-size: 50%;
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 5px;
}

.image img{
  position: relative;
  display: inline;
  width: 50%;
  height: 50%;
  float: left;
}

.image div{
  position: relative;
  display: inline;
  width: 50%;
  height: 50%;
  float: left;
}

.groupnr{
  position: relative;
  margin-left: 85%;
  margin-top: 85%;
  color: white;
  font-size: 28px;
  font-weight: 500;
  text-shadow: 2px 2px black;
}

@media(max-width: 1000px){
.groupnr{
  position: absolute;
  margin-left: 85%;
  margin-top: 85%;
  color: white;
  font-size: 28px;
  font-weight: 500;
  text-shadow: 6px 6px 6px black;
  }
}

.equal, .equal > div[class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

@media (max-width:462px) {
  .register .panel {
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
  }
  .register .input-wrapper input {
    padding-left: 5px;
  }
}
