<div class="project">
  <div class="container">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">

        <!-- Warning: log in first -->
        <div class="alert alert-danger status" style="display: none">
          <a class="close fade in" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Warning!</strong> To join a group, you have to be logged in. Please <a href="/#/login" style="color: #F25C05">Log in</a> or <a href="/auth/facebook" style="color: #F25C05">Log in with Facebook</a>.
        </div>

        <!-- Warning: already joined a group -->
        <div class="alert alert-warning error" style="display: none">
          <a class="close fade in" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Warning!</strong> You already joined a group, you're allowed to join a group only once in a project.
        </div>

        <div class="panel-body">
          <div class="panel panel-default" ng-controller="ParseGroupCtrl">
            <div class="panel-heading">
              <h2>Group {{group.number}}</h2>
            </div>
	          <div class="panel-body">
              <div class="group" style="margin: 5% 20% 5% 20%">
                <div class="image" ng-repeat="member in group.members">
                  <div ng-if="member.facebook">
                      <img src="//graph.facebook.com/{{member.facebook.id}}/picture?type=large" title="{{member.facebook.name}}"/>
                  </div>
                  <div ng-if="member.local">
                    <img src="/images/user.png" title="{{member.local.firstName}} {{member.local.lastName}}">
                  </div>
                </div>
                <div style="clear: both; padding-top: 20px">
                <p>Group members:</p>
                <ul ng-repeat="member in group.members">
                  <li ng-if="member.facebook">
                    {{member.facebook.name}}
                  </li>
                  <li ng-if="member.local">
                    {{member.local.firstName}} {{member.local.lastName}}
                  </li>
                </ul>
              </div>
                <input class="submitButton" type="submit" value="Join group {{group.number}}" ng-click="save()">
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
</div>
