<!-- Navigation Bar -->
<div class="navbar navbar navbar-fixed-top" role="navigation" id="menu">
	<div class="container">
		<div class="navbar-header">

			<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand"><img src="/images/logo.png" class="img-responsive" id="img-menu"/></a>
		</div>

		<div class="collapse navbar-collapse navHeaderCollapse">
			<button class="btn btn-primary pull-right" id="facebook-signin">
				<i class="fa fa-facebook-official"></i> Log in with Facebook
			</button>
			<button class="btn btn-default pull-right">
				<i class="fa fa-sign-in"></i> Log in
			</button>
		</div>
	</div>
</div>


<div class="jumbotron">
  <div class="container">
    <div class="bottom">
      <h1>Excellent teamwork</h1>
      <h2>Forming groups has never been easier</h2><a>Sign up as Student</a><a>Sign up as Teacher</a>
    </div>
  </div>
</div>
<div class="features container">
  <div class="row row-centered">
    <div class="col-sm-3 col-centered">
      <div class="feature">
        <h3><i class="fa fa-group"></i> Teamwork</h3>
        <p>
          Students will be more motivated because they can choose
          their own teammates.
        </p>
      </div>
    </div>
    <div class="col-sm-3 col-centered">
      <div class="feature">
        <h3> <i class="fa fa-question-circle"></i> Random</h3>
        <p>
          If you prefer you can join a random group. Teachers
          can also assign students to random groups.
        </p>
      </div>
    </div>
    <div class="col-sm-3 col-centered">
      <div class="feature">
        <h3><i class="fa fa-smile-o"></i> No loners</h3>
        <p>
          All students will be assigned to a group.
          Late students will be assigned to a random group.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="story">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h2>The story</h2>
        <p>
          Students from the Web Technology course (2ID60) had to form
          groups by themselves. An online forum on Sakai was used by
          many students to find other teammates. This resulted in many
          posts on the forum from students who were still looking for a group. The forum on Sakai has two               main disadvantages: firstly the lack of a clear overview and secondly the missing background                 information of students. As students from many different majors participate in university
          courses, you may want to collaborate with students from your own faculty.
        </p>
        <p>
          We from group 8, Christian, Lars, Roy and Koen, thought: this
          process could be organized much more efficiently. That is why we have
          created Groupmolder: the easiest way to form groups.
        </p>
      </div>
      <div class="col-sm-4"><img src="/images/sakai.gif"/></div>
    </div>
  </div>
</div>
<div class="demo container">
  <div class="row">
    <div class="col-sm-7">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="col-sm-5">
      <h2>Demo </h2>
      <p>Follow the following steps:</p>
      <ol>
        <li>Lorum ipsulum</li>
        <li>Lorum ipsulum</li>
        <li>Lorum ipsulum</li>
        <li>Lorum ipsulum</li>
        <li>Lorum ipsulum</li>
      </ol>
    </div>
  </div>
</div>
<ng-include src="'partials/footer.html'"></ng-include>
