<div class="project">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
      </div>

      <div class="col-sm-6">
        <div class="panel panel-default">

          <div class="panel-heading">
            <h2>Log in with your email</h2>
          </div>

          <div class="panel-body form">
            <form action="/login" method='post'>
              <div class="wrapper">
                <i class="fa fa-envelope"></i>
                <input type="text" placeholder="Email" name='email' required></input>
              </div>
              <div class="wrapper">
                <i class="fa fa-lock"></i>
                <input type="password" placeholder="Password" name='password' required></input>
              </div>
              <input type="submit" value="Log in" ng-click="#">
            </form>
            <div class="col-sm-12"  id="register">Don't you have any account yet?
              <a href="/#/register">Create one for free!</a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-sm-3">
      </div>

    </div>
  </div>
</div>
