<div class="project">
<div class="container">
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">
    <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Log in with your email</h2>
          </div>
		  <div class="panel-body">
        <form action="/login" method='post'>
            <div class="input-wrapper">
            	<i class="fa fa-envelope"></i><input class="pull-right" type="text" placeholder="Email" name='email'></input>
            </div>
            <div class="input-wrapper">
            	<i class="fa fa-lock"></i><input class="pull-right" type="password" placeholder="Password" name='password'></input>
            </div>
              <input class="pull-right" type="submit" value="Log in" ng-click="#">
        </form>
              <div id="register">Don't you have any account yet? <a href="/#/register">Create one for free!</a></div>
          </div>
        </div>
    </div>
</div>
<div class="col-sm-3"></div>
</div>
</div>
</div>

<!--
<h1>Edit a Project</h1>

<form>
    <div class="form-group">
        <label>Name</label>
        <input class="pull-right" class="form-control" ng-model="project.name"></input>
    </div>
    <div class="form-group">
        <label>Subject Code</label>
        <input class="pull-right" class="form-control" ng-model="project.subjectCode"></input>
    </div>
    <div class="form-group">
        <label>Number of applying students</label>
        <input class="pull-right" class="form-control" ng-model="project.numStudents"></input>
    </div>
    <div class="form-group">
        <label>Maximum amount of students per group</label>
        <input class="pull-right" class="form-control" ng-model="project.numStudentsPerGroup"></input>
    </div>
    //numGroups has to be calculated automatically in future
    <div class="form-group">
        <label>Number of groups</label>
        <input class="pull-right" class="form-control" ng-model="project.numGroups"></input>
    </div>
    <input class="pull-right" type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>
</form>
-->
