<div class="student">
  <div class="view-project">
    <div class="container">

      <!-- General information -->
      <div class="row equal">
        <div class="col-sm-4">
          <div class="information">
            <h2>Information</h2>
            <h4 class="h4-regular">Course:</h4>
            <h4 class="h4-bold">{{projects.name}}</h4>
            <h4 class="h4-regular">Subject Code:</h4>
            <h4 class="h4-bold">{{projects.subjectCode}}</h4>
            <h4 class="h4-regular">Number of groups:</h4>
            <h4 class="h4-bold">{{projects.numGroups}}</h4>
            <h4 class="h4-regular">Number of students:</h4>
            <h4 class="h4-bold" id="information">{{projects.numStudents}}</h4>
          </div>
        </div>

        <!-- Assign random button-->
        <div class="col-sm-4">
          <div class="random" ng-controller="RandomGroupCtrl">
            <a ng-click="random()">
              <p id="question-mark">?</p>
              <h4>Random assignment</h4>
            </a>
          </div>
        </div>

        <!-- Search bar-->
        <div class="col-sm-4">
          <div class="search">
            <h2>Search student</h2>
            <input type="text" class="search-bar" placeholder="Name" style="margin-top: 35px;" ng-model='search'>
            <input type="submit" value="Search" class="search-button">
          </div>
        </div>
      </div>

      <!-- Groups -->
      <div class="col-sm-4" ng-repeat="group in groups | groupFilter: search" ng-show="group.indexOf!=-1">
        <a href="/#/project/{{projectid}}/group/{{group.number}}" class="group">
          <div class="image" ng-repeat="member in group.members">
            <div ng-if="member.facebook">
                <img src="//graph.facebook.com/{{member.facebook.id}}/picture?type=large" title="{{member.facebook.name}}"/>
            </div>
            <div ng-if="member.local">
              <img src="/images/user.png" title="{{member.local.firstName}} {{member.local.lastName}}">
            </div>
          </div>
          <div class="groupnr">
            <p>{{group.number}}</p>
          </div>
        </a>
      </div>

      <!-- Random pool -->
      <div class="col-sm-4">
        <h3>Random pool members</h3>
        <ul ng-repeat="member in projects.randomPool">
          <li ng-if="member.local">{{member.local.firstName}} {{member.local.lastName}}</li>
          <li ng-if="member.facebook">{{member.facebook.name}}</li>
        </ul>
      </div>

    </div>
  </div>
</div>
