<div class="project">
  <div class="container">
    <div class="row">

      <!-- Overview of GroupMolders -->
      <div class="col-sm-8">
          <div class="panel-body">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2>My groupmolders</h2>
                </div>
                <div>
                  <table class="table" align="center">
                    <thead>
                      <tr>
                        <th>Course</th>
                        <th>Subject Code</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat='project in projects'>
                        <td id="alignv">{{project.name}}</td>
                        <td id="alignv">{{project.subjectCode}}</td>
                        <td>
                          <div class="inline">
                            <a href="/#/project/{{project._id}}" class="btn btn-primary"><i class="glyphicon glyphicon-eye-open"></i><span title="View Groupmolder (as student)">View</span></a>
                            <a href="/#/project/edit/{{project._id}}" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i><span title="Adjust Groupmolder settings">Edit</span></a>
                            <a class="btn btn-danger" href="/#/project/delete/{{project._id}}" ><i class="glyphicon glyphicon-remove"></i><span title="Remove entire Groupmolder ">Remove</span></a>
                            <a class="btn btn-success"  href="/#/project/random/{{project._id}}"><i class="glyphicon glyphicon-question-sign"></i><span title="Assign students to random group">Random</span></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
      </div>

      <!-- Pop up when remove button is clicked, TODO Behavior when clicking changed does have to be changed -->
      <div class = "modal fade remove" id="remove" role="dialog"> <!--ng-controller="DeleteProjectCtrl"-->
          <div class = "modal-dialog">
              <div class = "modal-content" style="background-color: #435055">
                  <div class = "modal-header">
                      <button class="close" data-dismiss="modal">
                          <span style="color: #F25C05">&times;</span>
                      </button>

                      <h4 class="modal-title" style="color: white">
                          Are you sure you want to permanently remove this GroupMolder?
                      </h4>
                  </div>

                  <div class="modal-footer">
                      <a ng-click="delete()" data-dismiss="modal" class="btn btn-default" style="background-color: #F25C05; color: white">Yes</a>
                      <a class="btn btn-default" data-dismiss="modal">No</a>
                  </div>
              </div>
          </div>
      </div>

      <!-- Create GroupMolder -->
      <div class="col-sm-4" ng-controller="AddProjectCtrl">
        <div class="panel-body">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2>Create groupmolder</h2>
            </div>
            <div class="panel-body">
              <form name="createProjectForm" class="ng-pristine ng-valid" required>
                <div class="input-wrapper">
                  <i class="fa fa-info"></i>
                  <input type="text" class="pull-right" name="projectTitle" placeholder="Course (e.g. Web Technology)" ng-model="project.name" required></input>
                </div>
                <div class="input-wrapper">
                  <i class="fa fa-list-alt"></i>
                  <input type="text" class="pull-right" placeholder="Subject Code (e.g. 2ID60)" ng-model="project.subjectCode" required></input>
                </div>
                <div class="input-wrapper">
                  <i class="fa fa-group"></i>
                  <input type="number" ng-min="2" ng-max="500" class="pull-right" placeholder="Number of students (2-500)" ng-model="project.numStudents" required></input>
                </div>
                <div class="input-wrapper">
                  <i class="fa fa-th-large"></i>
                  <input type="number" ng-min="2" ng-max="500" class="pull-right" placeholder="Group size (2-250)" ng-model="project.numStudentsPerGroup" required></input>
                </div>
                <button id="createBtn" type="submit" ng-disabled="createProjectForm.$invalid" ng-click="save()">Create</button>
              </form


              <p>To let students join this Groupmolder, click on 'View' of the corresponding groupmolder and copy the URL in the addressbar and spread it under the students (e.g. by mail).</p>
              <p>When they open this link, they're are directed to the group page an are able to join a group.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
