<div class="student">
<div class="view-project">
<div class="container">
  
  <!-- Search bar -->
  <input type="text" ng-model="search" class="search-bar" placeholder="&#xF002; Search for student">

		<div class="row equal">
			<div class="col-xs-4">
				<div class="information">
                    <h2>Information</h2>
                    <h4 class="h4-regular">Course:</h4>
                    <h4 class="h4-bold">XXX</h4>
                    <h4 class="h4-regular">Subject Code:</h4>
                    <h4 class="h4-bold">YYY</h4>
                    <h4 class="h4-regular">Number of groups</h4>
                    <h4 class="h4-bold">ZZZ</h4>
                    <h4 class="h4-regular">Number of students</h4>
                    <h4 class="h4-bold" id="information">ZZZ</h4>
                </div>
            </div>

            <div class="col-xs-4">
				<div class="random">
                    <p id="question-mark">?</p>
                    <h4>Random assignment</h4>
                </div>
            </div>

            <div class="col-xs-4" ng-repeat="group in groups">
                <a href="/#/project/{{projectid}}/group/{{group.number}}" class="group">
                <div class="image" ng-repeat="t in [0,1,2,3]">
                  <img src="//graph.facebook.com/{{group.members[t].facebook.id}}/picture?type=large" title="{{group.members[t].facebook.name}}"/>
                  </div>
                <div class="groupnr">
                  <p>{{group.number}}</p>
                  </div></a>
              </div>
      </div>
</div>
</div>
</div>  
  
  
  
<!--  
  
  
  
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-heading">
        <h2>View Groupmolder</h2>
          </div>
		  <div class="panel-body">
{{project.name}}
        <table ng-repeat="group in groups" align="center" class="table">
          <thead>
            <tr>
              <td><a href="/#/project/{{projectid}}/group/{{group.number}}"><li class="fa fa-group"></li> Group: {{group.number}}</a></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="t in [0,1,2,3]">
              <td width="30%" ><img src="//graph.facebook.com/{{group.members[t].facebook.id}}/picture?type=large" title="{{group.members[t].facebook.name}}"></im></td>
              <td>{{group.members[t].facebook.name}}</td>
            </tr>
          </tbody>
          </table>
            <a class="btn btn-default" href="/#/project/"><i class="fa fa-angle-left"></i>Back</a>
        </div>
    </div>
</div>
<div class="col-sm-2"></div>
</div>
</div>
</div>
</div>
-->

<!--
        <ul ng-repeat="group in groups">
          <tr>
            <td<a href="/#/project/{{projectid}}/group/{{group.number}}">Group: {{group.number}}</a>
          </tr>
            <li>Members: <div ng-repeat="t in [0,1,2,3]">{{group.members[t].facebook.name}}</li>
        </ul>
            <a class="btn btn-default" href="/#/project/"><i class="fa fa-angle-left"></i>Back</a>
          </div>
-->
