<div class="project">
  <div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
        <div class="col-sm-6">

          <div class="panel-body">
            <div class="panel panel-default">

              <div class="panel-heading">
                <h2>Assign random groups</h2>
              </div>

              <div class="panel-body" style="text-align:center">
                <p>Are you sure you want to assign students from the random pool to a group?</p>
                <input type="button" value="&#xf00c; Yes" class="btn btn-success fa-input" id="fa-input" ng-click="random()"/>
                <a href="/#/project/"><input type="button" value="&#xf057; No" class="btn btn-danger fa-input" id="fa-input"></input></a>
              </div>

            </div>
          </div>

        </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>
