<div class="project">
<div class="container">
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">
    <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Delete Groupmolder</h2>
          </div>
		  <div class="panel-body" style="text-align:center">
            <p>Are you sure you want to permanently delete <span style="font-weight: 500">{{project.name}} ({{project.subjectCode}})</span> ?</p>

            <input type="button" value="&#xf00c; Yes" class="btn btn-success fa-input" id="fa-input" ng-click="delete()"/>
            <a href="/#/project/"><input type="button" value="&#xf057; No" class="btn btn-danger fa-input" id="fa-input"></input></a>
          </div>
        </div>
    </div>
</div>
<div class="col-sm-3"></div>
</div>
</div>
</div>

<!--
<h1>Delete Project</h1>
<p>
    Are you sure you want to delete this project?
</p>
<ul>
    <li>Name: {{project.name}}</li>
    <li>Subject Code: {{project.subjectCode}}</li>
    <li>Number of students: {{project.numStudents}}</li>
    <li>Number of students per group: {{project.numStudentsPerGroup}}</li>
    <li>Number of groups: {{project.numGroups}}</li>
</ul>
<input type="button" value="Yes, Delete" class="btn btn-danger" ng-click="delete()" />
<a class="btn btn-default" href="/#/project/">No, Go Back</a>
 
-->