<!-- Registration Page -->
<div class="register">
  <div class="container reasons">
    <div class="row">

      <!-- Registration Form -->
      <div class="col-sm-6 vcenter" id="register-form">
        <div id="signup-left"></div>
        <div id="signup-right"></div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Join Groupmolder!</h2>
          </div>
          <div class="panel-body form">
            <form action="/register" method='post'>
              <div class="wrapper">
                <i class="fa fa-user"></i>
                <input type="text" placeholder="first name" name="firstName" required>
              </div>
              <div class="wrapper">
                <i class="fa fa-user"></i>
                <input type="text" placeholder="last name" name="lastName" required>
              </div>
              <div class="wrapper">
                <i class="fa fa-envelope"></i>
                <input type="email" placeholder="email" name="email" required>
              </div>
              <div class="wrapper">
                <i class="fa fa-lock"></i>
                <input type="password" placeholder="password" name="password" required>
              </div>
              <div>
                <input class="pull-right" type="radio" name="role" style="width: 12px;" value="student" required><h4 style="text-align: left"><i class="fa fa-graduation-cap"></i> Student</h4>
                <input class="pull-right" type="radio" name="role" style="width: 12px;" value="teacher" required><h4 style="text-align: left"><i class="fa fa-briefcase"></i> Teacher</h4>
              </div>
              <input type="submit" value="Sign up">
            </form>
            <h4>OR</h4>
            <a href="/auth/facebook" class="facebook-button"><i class="fa fa-facebook-square"></i>Log in with Facebook</a>
          </div>
        </div>
      </div>

			<!-- Overview -->
      <div class="col-sm-6 vcenter pull-left" id="register-overview">
        <h1>The easiest way to form groups</h1>
        <div class="row">
          <div class="reason col-xs-4">
            <i class="fa fa-clock-o"></i>
            <span>waste</span>
            <span>no time</span>
          </div>
          <div class="reason col-xs-4">
            <i class="fa fa-users"></i>
            <span>random</span>
            <span>group</span>
          </div>
          <div class="reason col-xs-4">
            <i class="fa fa-facebook-f"></i>
            <span>facebook</span>
            <span>sign in</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
