<!--Student page --> 
<div class = "student">
	<div class="container">

		<!-- Search bar -->
		<input type="text" ng-model="search" class="search-bar" placeholder="&#xF002; Search for student">

		<div class="row equal">
			<div class="col-xs-4">
				<div class="information">
                    <h2>Information</h2>
                    <h4 class="h4-regular">Course:</h4>
                    <h4 class="h4-bold">Web Technology</h4>
                    <h4 class="h4-regular">Subject Code:</h4>
                    <h4 class="h4-bold">2ID60</h4>
                    <h4 class="h4-regular">Deadline subscription</h4>
                    <h4 class="h4-bold" id="information">19-01-2016</h4>
                </div>
            </div>

            <div class="col-xs-4">
				<div class="random">
                    <p id="question-mark">?</p>
                    <h4>Random assignment</h4>
                </div>
            </div>

            <div class="col-xs-4">
		      <div class="group">
                <div class="image">
                   	<img src="images/profile.jpg"/> <!-- Profile picture 1 -->
                    <img src="images/add.png"/><!-- Profile picture 2 -->
                    <img src="images/add.png"/>
                    <img src="images/user.png"/> <!-- Profile picture 2 -->
                </div>
                <div class="groupnr">
                  <p>1</p>
                </div>
              </div>
          </div>
  </div>
</div>
</div>

<ng-include src="'partials/footer.html'"></ng-include>
