<!--Student page -->
<div class = "student">
	<div class="container">

		<div class="col-sm-12">
			<div class="panel-body">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2>My groupmolders</h2>
					</div>
					<div>
						<table class="table" align="center">
							<thead>
								<tr>
									<th>Course</th>
									<th>Subject Code</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat='project in projects'>
									<td id="alignv">{{project.name}}</td>
									<td id="alignv">{{project.subjectCode}}</td>
									<td id="alignv" class="pull-left"><a href="/#/project/{{project._id}}" class="btn btn-primary"><i class="glyphicon glyphicon-eye-open"></i><span title="View Groupmolder">View</span></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
